
html{
    font-family: /*'Courier','SignPainter',*/'klee'/*,sans-serif*/;
    font-size:14pt;
    letter-spacing: .07em;
}

/*ヘッダー右上の丸*/

.contactbtn {
    position: fixed;
    right: 40px;
    top: 40px;

    height: 90px;
    width: 90px;
    border-radius: 50%;
    background-color: #fff100;
    transition-duration: 700ms;
    display: flex;
}


.contactbtn:hover {
    background-color: #C67595;
    color: white; 
    transition-duration: 700ms;
}


.contactbtn  ul{
    position: absolute;
    display: inline-block;
    top: 20%;
    left: 20%;
    color: #fff;
    font-size: 0.7rem;
    font-weight: bold;;
    text-align: center;

}


.contactbtn li:nth-child(2) {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 7%;
    font-family: 'SignPainter',sans-serif;
}

/*ここまでヘッダー*/

/*ここからメイン*/

.main-for-fix{
    position: absolute;
    top:200px;
}

.title{
    color: #708090;
    font-family: /*'Courier',*/'SignPainter'/*,'klee',sans-serif*/;
    font-size: 5rem;
}

.title span{
/*    font-family: 'SignPainter';*/
    color:#fff100;
    animation:blinkanime 1s infinite alternate;
    margin-bottom: -10pt;
    }

@keyframes blinkanime{
        0%{ 
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }


.btnfix{

    margin-right: 10%;
    margin-left: 10%;
    margin-top: 1%;
}
.btnlist{
    display: flex;
    text-align: center;
    justify-content: space-between
}

.bt {
    
    display: inline-block;
    height: 75px;
    width: 75px;
    border-color: #DDD;
    border-radius: 50%;
    border: dashed 0.5px;

    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation:blinkanime 3s infinite alternate;
}

.bt:hover{
    border:solid 1px;
    border-color: skyblue;
}


.bt li{
    color:black;
    display:flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;    
    animation: none;
    
}

.mainmenu a {
    text-decoration:none;
}
 
.mainmenu{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
    
.dmbt::after{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    content: "Click here to go";
    font-size:0.7em;
}


.mainmenu{
    background-image: url(../img/backimg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    margin-top: -100px;
    height: 900px;

}   

/*ここまでメイン・ここからアサイド*/

aside{
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introduce{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    margin: 10% 30%;
    position: relative;
    padding: 0.5em 1em;
    border: solid 0.5px ;
    font-size: 1.2rem;  
}

.selfy{
    border-radius: 50%;
    margin-top: 50px;
    height: 120px;
    width: 120px;
}

.introduce ul{
    text-align: left;
    line-height: 1.8;
    margin-top: 50px;
    margin-bottom: 50px;
}

.greeting {  
    position: absolute;
    display: inline-block;
    top: -13px;
    padding: 0 9px;
    line-height: 1;
    background-color: white;
}

.mydata li{
    font-size: 0.83em;

}


/*ここで導入終了*/
/*ここから写真リスト*/


.photocontents{
    display: flex;    
    align-items: center;
    text-align: justify;
    flex-direction: column;
    font-size: 1.2rem; 
}

.logo {
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Helvetica Neue';
    font-weight: bold;
    color: black;
    background: linear-gradient(transparent 50%, yellow 50%);
}


.photocontents p{
    font-size: 0.7em;
}

.pics{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
}

.pics ul{
    display:flex;
    width: 50vw;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.pics li img{
    width: 200px;
    height: 200px;
}

.pics li {
    margin-right: 10px;
    margin-top:10px;
}


.adresslist img{

    height: 30px;
    width: 30px;
}*/


form::after {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 1px;
    height: 150px;
    background-color: black;
    z-index: 10;
}


footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:black;
    font-size: 0.8rem;
    padding: 5px;
}

footer .footer-right{
    margin-right: 80px;
}

/*小型pc対応*/

@media screen and (max-width:1200px){

    .title{
        font-size: 8rem;
        margin-top:-100px;
        }
    
    .bt{
        height: 100px;
        width:100px;
    }

    .selfy{
    border-radius: 50%;
    margin-top: 30px;
    height: 150px;
    width: 150px;
    }

    .introduce{
        font-size: 1.5rem;
        margin:10% 20%;
    }

    .pics ul{
        width: 80vw;
    }
    
    .pics li img{
    width: 250px;
    height: 250px;
    }

}

/*タブレット想定*/
/*國吉さんここからcssが効きません。効果を見るために極端な数値で書いてあります*/

@media screen and (max-width:960px){
        .title{
        font-size: 10rem;
        margin-top:-50px;
        }
}


@media screen and (max-width:480px){
    .title{
        font-size: 20rem;
        margin-top:-200px;
        }
    
    .bt{
        height: 100px;
        width:100px;
    }

    .selfy{
    border-radius: 50%;
    margin-top: 30px;
    height: 300px;
    width: 300px;
    }

    .introduce{
        font-size: 1.5rem;
        margin:10% 20%;
    }

    .pics ul{
        width: 80vw;
    }
    
    .pics li img{
    width: 250px;
    height: 250px;
    }
}    

    

footer{
    display: flex;
    justify-content: center;
}

footer .icon{
display: none;
}

footer .footer-right{
    margin-right: 0;
}





























